.title-police {
    font-family: 'Shrikhand', sans-serif;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

img {
    object-fit: cover;
    width: 100%;
    height: -webkit-fill-available;
    max-height: 80%;
}

.align {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}