.title-police {
    font-family: 'Shrikhand', sans-serif;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

img {
    visibility: hidden;
    object-fit: cover;
}

.align {
    display: inline-block;
}
