.loc-pin {
    padding-right : 15px;
}

@keyframes fadeInTop {
    0% {
        top: -5em;
        visibility: hidden;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes spin {
    0% {
      transform: rotate(-360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

@keyframes fadeout {
    0% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}