.localisation {
    @include flex-center;
    flex-direction: row;
    background-color: #e9eaea;
    color: #353535;

    &__plain-text {
        font-size: 1rem;
        font-weight: bold;
        margin: 15px 0;
    }
}

.bienvenue {
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    @include flex-center;
    flex-direction: column;

    &__title {
        margin: 0;
        width: 70%;
        text-align: center;
    }

    &__plain-text {
        font-weight: 200;
        width: 80%;
        text-align: center;
    }
}

.bouton-explorer {
    cursor: pointer;
    @include flex-center;

    &__button {
        margin-top: 20px;
        height: 55px;
        border-radius: 25px;
        border: 0px;
        background: linear-gradient($rose, $violet);
        padding: 0 20px;
        box-shadow: 0px 8px 6px rgb(0 0 0 / 15%);
    }

    &__plain-text {
        font-size: larger;
        font-weight: 600;
        color: #fff;
    }
}

.fonctionnement {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    height: fit-content;

    &__title {
        padding-left: 20px;
        font-size: 1.4em;
        font-weight: 700;
        width: 51%;
        margin-bottom: 30px;
    }

    &__list-purple {
        font-size: small;
        position: relative;
        left: -10px;
        padding: 2px 7px;
        border-radius: 50%;
        color: white;
        background-color: $violet;
    }

    &__tile {
        margin-left: 25px;
        margin-right: 25px;

        &--tile {
            width: 100%;
            border-radius: 25px;
            margin: 25px 0;
            background-color: #f5f5f5;
            box-shadow: 0px 8px 6px rgb(0 0 0 / 15%);

            &:hover {
                background-color: #f5edfe;

                .fonctionnement__logo--color {
                    color: $violet;
                }
            }
        }
    }

    &__tile-text {
        padding: 10px;
        font-weight: 600;
    }

    &__logo {
        padding-right: 5px;

        &--color {
            color: #7c7c7c;
        }
    }
}

.restaurant {
    padding: 5vw;
    align-items: center;
    background-color: #f6f6f6;
}

.tile-menu {
    display: flex;
    width: 100%;
    height: 250px;
    margin: 30px 0;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 1px #e0e0e0;
    flex-direction: column;
    text-decoration: none;
    color: black;

    &__img {
        //contain image
        max-height: 74%;
        width: 100%;
    }

    &__text {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 1em;
        font-weight: 600;
    }

    &__info {
        padding: 1rem;
        text-decoration: none;
    }

    &__image {
        //image itself
        object-fit: cover;
        width: 100%;
    }

    &__heart {
        @include heart-gradient;
    }
}

.tile-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 10px;
}

.new-mark {
    position: relative;
    width: fit-content;
    padding: 5px;
    top: -90%;
    font-weight: 600;
    border-radius: 3px;
    right: -75%;
    background-color: #8fe3d1;
    color: #116149;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
    z-index: 1;
    @include flex-center;
    scale: 5;
    overflow: hidden;
    animation: fadeout 3s ease 1 normal;

    &__icon {
        &--1 {
            position: absolute;
            color: $mint;
            animation: spin 1s ease-in-out 2;
        }
        &--2 {
            position: absolute;
            color: $violet;
            animation: spin 1s 0.1s ease-in-out 2;
        }
        &--3 {
            position: absolute;
            color: $rose;
            animation: spin 1s 0.2s ease-in-out 2;
        }
    }
}


@media (min-width: 1024px) {
    .logo-index {
        scale: 0.5;
    }

    .fonctionnement__tile {
        display: flex;
        flex-direction: row;

        &>* {
            margin-right: 55px;
        }
    }

    .tile-menu {
        width: 45%;
        margin-right: 5%;
    }

    .restaurant {
        padding: 6% 0 6% 6%;
        display: flex;
        flex-flow: row wrap;
    }

    .tile-title {
        position: absolute;
        margin-top: -650px;
    }

    .new-mark {
        right: -85%;
    }

    .fonctionnement {
        padding: 50px;
    }
}