.localisation {
    @include flex-center;
    flex-direction: row;
    background-color: #e9eaea;
    color: #353535;

    &__plain-text {
        font-size: 1rem;
        font-weight: bold;
        margin: 15px 0;
    }
}

.bienvenue {
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    @include flex-center;
    flex-direction: column;

    &__title {
        margin: 0;
        width: 70%;
        text-align: center;
    }

    &__plain-text {
        font-weight: 200;
        width: 80%;
        text-align: center;
    }
}

.bouton-explorer {
    @include flex-center;

    &__button {
        margin-top: 20px;
        height: 55px;
        border-radius: 25px;
        border: 0px;
        background: linear-gradient($rose, $violet);
        padding: 0 20px;
        box-shadow: 0px 8px 6px rgb(0 0 0 / 15%);
    }

    &__plain-text {
        font-size: larger;
        font-weight: 600;
        color: #fff;
    }
}

.fonctionnement {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    height: fit-content;

    &__title {
        padding-left: 20px;
        font-size: 1.4em;
        font-weight: 700;
        width: 51%;
        margin-bottom: 30px;
    }

    &__list-purple {
        font-size: small;
        position: relative;
        left: -10px;
        padding: 2px 7px;
        border-radius: 50%;
        color: white;
        background-color: $violet;
    }

    &__tile {
        margin-left: 25px;
        margin-right: 25px;

        &--grey {
            width: 100%;
            border-radius: 25px;
            margin: 25px 0;
            background-color: #f5f5f5;
            box-shadow: 0px 8px 6px rgb(0 0 0 / 15%);
        }

        &--purple {
            width: 100%;
            border-radius: 25px;
            margin: 25px 0;
            background-color: #f5edfe;
            box-shadow: 0px 8px 6px rgb(0 0 0 / 15%);
        }
    }

    &__tile-text {
        padding: 10px;
        font-weight: 600;
    }

    &__logo {
        padding-right: 5px;

        &--grey {
            color: #7c7c7c;
        }

        &--purple {
            color: $violet;
        }

    }
}