.arrow-back {
    display: flex;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    color: black;

    &__arrow::before {
        font-size: larger;
    }
}

.title-heart {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2em 1.5em;
    margin-top: -2.5em;
    border-radius: 2em 2em 0 0;
    background-color: #f5f5f5;

    &__heart {
        @include heart-gradient;
        left: 0;
        top: 0;

        &--empty {

            position: absolute;

            &::before {
                font-size: 2em;

            }
        }

        &--full {
            left: 0;

            &::before {
                font-size: 2em;
            }
        }
    }

    &__title {
        font-size: 1.8em;
    }
}

.menu-list {
    display: flex;
    margin: 1.5em;
    background-color: #f5f5f5;
    flex-direction: column;

    &__title {
        text-transform: uppercase;
        padding-bottom: 6px;
        margin-top: 15px;
        position: relative;
    }

    &__title:after {
        content: '';
        width: 42px;
        position: absolute;
        top: 23px;
        left: 0;
        border-bottom: 3px solid $mint;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1em;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 1px #e6e6e6;
        margin: 10px 0;
        overflow: hidden;
        position: relative;

        &:hover {
            .menu-list__content--check {
                visibility: visible;
                left: 85%;
                transition: 0.5s ease-in-out;
            }
        }

        &--1 {
            font-size: 1.1em;
            font-weight: 600;
        }

        &--2 {
            font-size: 0.9em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 2px;
        }

        &--3 {
            float: right;
            font-weight: 600;
        }

        &--nowrap {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &--check {
            height: 100%;
            width: 15%;
            color: white;
            background-color: $mint;
            visibility: hidden;
            position: absolute;
            left: 100%;
            top: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            //before animation
        }

        &--description {
            width: 100%;
        }
    }
}

.show-animation {
    position: relative;
    animation: 1s ease-in-out 0s 1 fadeInTop;

    &__1 {
        animation-delay: 10ms;
    }
    &__2 {
        animation-delay: 0.2s;
    }
    &__3 {
        animation-delay: 0.4s;
    }
    &__4 {
        animation-delay: 0.6s;
    }
    &__5 {
        animation-delay: 0.8s;
    }
    &__6 {
        animation-delay: 1s;
    }
    &__7 {
        animation-delay: 1.2s;
    }
    &__8 {
        animation-delay: 1.4s;
    }
    &__9 {
        animation-delay: 1.6s;
    }
    &__10 {
        animation-delay: 1.8s;
    }
    &__11 {
        animation-delay: 2s;
    }
    &__12 {
        animation-delay: 2.2s;
    }
}

.menu-bouton {
    margin: 0;
    position: absolute;
    transform: translate(65%, -80%);
}

.margin-button {
    padding: 50px;
}