.arrow-back {
    position: absolute;
    right: 85%;
    display: flex;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    color: black;

    &__arrow::before {
        font-size: larger;
    }
}

.title-heart {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2em 1.5em;
    margin-top: -2.5em;
    border-radius: 2em 2em 0 0;
    background-color: #f5f5f5;

    &__heart {
        @include heart-gradient;
        left: 0;
        top: 0;

        &--empty {

            position: absolute;

            &::before {
                font-size: 2em;

            }
        }

        &--full {
            left: 0;

            &::before {
                font-size: 2em;
            }
        }
    }

    &__title {
        font-size: 1.8em;
    }
}



.menu-list {
    display: flex;
    margin: 1.5em;
    background-color: #f5f5f5;
    flex-direction: column;

    &__title {
        text-transform: uppercase;
        padding-bottom: 6px;
        margin-top: 15px;
        position: relative;
    }

    &__title:after {
        content: '';
        width: 42px;
        position: absolute;
        top: 23px;
        left: 0;
        border-bottom: 3px solid $mint;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 1px #e6e6e6;
        margin: 10px 0;
        overflow: hidden;
        position: relative;

        &:hover {
            .menu-list__content--check {
                display: flex;
                transition: all 0.5s ease-out;
                margin-right: 0;
            }
            .fa-circle-check {
                animation: spin 0.5s ease-in 1;
            }
        }

        &--1 {
            font-size: 1.1em;
            font-weight: 600;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 2px;
        }

        &--2 {
            font-size: 0.9em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 2px;
        }

        &--3 {
            font-weight: 600;
        }

        &--nowrap {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &--check {
            width: 30%;
            margin-right: -30%;
            color: white;
            background-color: $mint;
            display: flex; 
            align-items: center;
            justify-content: center;
        }

        &--description {
            width: 100%;
            padding: 1em;
            min-width: 0;
        }
    }
}

.show-animation {
    position: relative;
    animation: 0.5s ease-in-out 0s 1 fadeInTop;

    &__1 {
        animation-delay: 10ms;
    }
    &__2 {
        animation-delay: 0.1s;
    }
    &__3 {
        animation-delay: 0.2s;
    }
    &__4 {
        animation-delay: 0.3s;
    }
    &__5 {
        animation-delay: 0.4s;
    }
    &__6 {
        animation-delay: 0.5s;
    }
    &__7 {
        animation-delay: 0.6s;
    }
    &__8 {
        animation-delay: 0.7s;
    }
    &__9 {
        animation-delay: 0.8s;
    }
    &__10 {
        animation-delay: 0.9s;
    }
    //add more if needed
}

.margin-button {
    padding-bottom: 25%;
    display: flex;
    justify-content: center;
}

.img-top-menu {
    max-height: 260px;
}

@media (min-width: 1024px) {
    .menu-list {
        padding: 3%;
        flex-flow: row nowrap;
        align-items: stretch;
    }
    .menu-part {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        &__1 {
            margin-right: auto;
            width: 30%;
        }
        &__2 {
            margin-right: auto;
            width: 30%;
        }
        &__3 {
            width: 30%;
        }
    }
}

.menu-bouton {
    padding: 0 50px;
}