.title-police {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #f5f5f5;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: -webkit-fill-available;
  max-height: 100%;
}

.align {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  margin: auto;
  padding: 20px 0 10px 0;
}

.header-container > div {
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.header-container {
  width: 100%;
}

.footer__title-police {
  padding-left: 0.3em;
}
.footer__list--logo1 {
  padding-right: 9px;
}
.footer__list--logo2 {
  padding-right: 6px;
}
.footer__list--contact {
  text-decoration: none;
  color: white;
}
.footer__text {
  padding: 0.3em;
}

footer {
  background-color: #343434;
  padding: 20px 40px;
  color: white;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e9eaea;
  color: #353535;
}
.localisation__plain-text {
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0;
}

.bienvenue {
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bienvenue__title {
  margin: 0;
  width: 70%;
  text-align: center;
}
.bienvenue__plain-text {
  font-weight: 200;
  width: 80%;
  text-align: center;
}

.bouton-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bouton-explorer__button {
  margin-top: 20px;
  height: 55px;
  border-radius: 25px;
  border: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  padding: 0 20px;
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
}
.bouton-explorer__plain-text {
  font-size: larger;
  font-weight: 600;
  color: #fff;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.fonctionnement__title {
  padding-left: 20px;
  font-size: 1.4em;
  font-weight: 700;
  width: 51%;
  margin-bottom: 30px;
}
.fonctionnement__list-purple {
  font-size: small;
  position: relative;
  left: -10px;
  padding: 2px 7px;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
}
.fonctionnement__tile {
  margin-left: 25px;
  margin-right: 25px;
}
.fonctionnement__tile--grey {
  width: 100%;
  border-radius: 25px;
  margin: 25px 0;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
}
.fonctionnement__tile--purple {
  width: 100%;
  border-radius: 25px;
  margin: 25px 0;
  background-color: #f5edfe;
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
}
.fonctionnement__tile-text {
  padding: 10px;
  font-weight: 600;
}
.fonctionnement__logo {
  padding-right: 5px;
}
.fonctionnement__logo--grey {
  color: #7c7c7c;
}
.fonctionnement__logo--purple {
  color: #9356dc;
}

.restaurant {
  padding: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.tile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  margin: 30px 0;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px 1px #e0e0e0;
          box-shadow: 2px 2px 10px 1px #e0e0e0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: black;
}
.tile-menu__img {
  max-height: 74%;
  width: 100%;
}
.tile-menu__text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tile-menu__title {
  font-size: 1em;
  font-weight: 600;
}
.tile-menu__info {
  padding: 1rem;
  text-decoration: none;
}
.tile-menu__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.tile-menu__heart {
  position: relative;
  left: 90%;
  top: -55%;
}
.tile-menu__heart--empty {
  color: black;
}
.tile-menu__heart--empty::before {
  font-size: 1.5em;
}
.tile-menu__heart--full {
  position: relative;
  opacity: 0%;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
}
.tile-menu__heart--full:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}
.tile-menu__heart--full::before {
  font-size: 1.5em;
}

.tile-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 10px;
}

.arrow-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  text-decoration: none;
  color: black;
}
.arrow-back__arrow::before {
  font-size: larger;
}

.title-heart {
  position: relative;
  padding: 2em 1.5em;
  margin-top: -2.5em;
  border-radius: 2em 2em 0 0;
  background-color: #f5f5f5;
}
.title-heart__heart {
  position: relative;
  left: 90%;
  top: -55%;
  top: 0;
  left: 45px;
}
.title-heart__heart--empty {
  color: black;
}
.title-heart__heart--empty::before {
  font-size: 1.5em;
}
.title-heart__heart--full {
  position: relative;
  opacity: 0%;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
}
.title-heart__heart--full:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}
.title-heart__heart--full::before {
  font-size: 1.5em;
}
.title-heart__heart--empty::before {
  font-size: 2em;
}
.title-heart__heart--full {
  left: -2.23em;
}
.title-heart__heart--full::before {
  font-size: 2em;
}
.title-heart__title {
  font-size: 1.8em;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em;
  background-color: #f5f5f5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-list__title {
  text-transform: uppercase;
  padding-bottom: 6px;
  margin-top: 15px;
  position: relative;
}
.menu-list__title:after {
  content: "";
  width: 42px;
  position: absolute;
  top: 23px;
  left: 0;
  border-bottom: 3px solid #99e2d0;
}
.menu-list__content {
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px 1px #e6e6e6;
          box-shadow: 2px 2px 10px 1px #e6e6e6;
  margin: 10px 0;
}
.menu-list__content--1 {
  font-size: 1.1em;
  font-weight: 600;
}
.menu-list__content--2 {
  font-size: 0.9em;
  text-overflow: ellipsis;
}
.menu-list__content--3 {
  float: right;
  font-weight: 600;
}

.menu-bouton {
  margin: 0;
  position: absolute;
  -webkit-transform: translate(65%, -80%);
          transform: translate(65%, -80%);
}

.margin-button {
  padding: 50px;
}

.loc-pin {
  padding-right: 15px;
}/*# sourceMappingURL=main.css.map */