.title-police {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: -webkit-fill-available;
  max-height: 80%;
}

.align {
  display: inline-block;
}

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0 0;
}

.logo {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  margin: auto;
  padding-bottom: 10px;
}

.header-container > div {
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e9eaea;
  color: #353535;
}
.localisation__plain-text {
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0;
}

.bienvenue {
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bienvenue__title {
  margin: 0;
  width: 70%;
  text-align: center;
}
.bienvenue__plain-text {
  font-weight: 200;
  width: 80%;
  text-align: center;
}

.bouton-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bouton-explorer__button {
  margin-top: 20px;
  height: 55px;
  border-radius: 25px;
  border: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  padding: 0 20px;
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
}
.bouton-explorer__plain-text {
  font-size: larger;
  font-weight: 600;
  color: #fff;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.fonctionnement__title {
  padding-left: 20px;
  font-size: 1.4em;
  font-weight: 700;
  width: 51%;
  margin-bottom: 30px;
}
.fonctionnement__list-purple {
  font-size: small;
  position: relative;
  left: -10px;
  padding: 2px 7px;
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
}
.fonctionnement__tile {
  margin-left: 25px;
  margin-right: 25px;
}
.fonctionnement__tile--grey {
  width: 100%;
  border-radius: 25px;
  margin: 25px 0;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
}
.fonctionnement__tile--purple {
  width: 100%;
  border-radius: 25px;
  margin: 25px 0;
  background-color: #f5edfe;
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.15);
}
.fonctionnement__tile-text {
  padding: 10px;
  font-weight: 600;
}
.fonctionnement__logo {
  padding-right: 5px;
}
.fonctionnement__logo--grey {
  color: #7c7c7c;
}
.fonctionnement__logo--purple {
  color: #9356dc;
}

.restaurant {
  margin: 25px 10px;
}

.tile-menu {
  width: 100%;
  max-height: 300px;
  margin: 30px 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px 1px #e0e0e0;
          box-shadow: 2px 2px 10px 1px #e0e0e0;
}
.tile-menu__img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: -webkit-fill-available;
  max-height: 70%;
}
.tile-menu__text {
  height: 30%;
}

.title-menu-tile {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
}

.loc-pin {
  padding-right: 15px;
}/*# sourceMappingURL=main.css.map */